name: Publish to Docker
on:
  push:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # Add your test steps here if needed...
      
      - name: Log in to Container registry
        uses: docker/login-action@v2
        with:
          username: mbrzosk
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
      - name: Build container
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: docker.pkg.github.com/mbrzosk/publish-packages/game
